a.button-gray.item-important(
    href=""
    title="{{ 'COMMON.IMPORTANT_TITLE' | translate }}"
)
    tg-svg(svg-icon="icon-powerful")
a.button-red.item-unimportant(
    href=""
    title="{{ 'COMMON.UNIMPORTANT_TITLE' | translate }}"
)
    tg-svg(svg-icon="icon-powerful")
